@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Awsome Blog!</h1>
    <p class="lead">My awsome blog about everything awsome!</p>
    <p><a href="/BlogPosts" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
